.main-layout {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  height: 100vh;
}

.main-layout #header {
  padding-bottom: 10px;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 40px;
  padding: 10px 0 30px 0;
}

.container {
  margin-left: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #1e272c;
  color: white;
}

.navbar a {
  width: 100%;
  margin: 15px 0;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a i {
  margin: 0 10px;
}

.container {
  width: 100%;
  height: 100%;
}

#create-group-button {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(233, 223, 91);
  border: 1px solid rgba(181, 187, 187, 0.404);
}

.addToGroup {
  height: 30px;
  border-radius: 30px;
  border: 1px solid rgba(181, 187, 187, 0.404);
  padding: 5px 6px 5px 6px;
  display: flex;
  align-items: center;
  margin-right: 6px;
}

#group-members {
  min-height: 60px;
  border: 1px solid grey;
  padding: 20px 10px 20px 10px;
  margin: 30px 0 30px 0;
  border-radius: 20px;
  display: none;
}

.user-info {
  flex: 1;
}

.chat-button a {
  text-decoration: none;
  color: inherit;
}

.group-member {
  background-color: #dee2e6;
  padding: 8px 5px 8px 5px;
  border-radius: 15px;
  border: 0.5px solid grey;
  margin: 5px 3px 2px 2px;
}

#header {
  display: flex;
  justify-content: space-between;
}

.chat-button {
  width: 80px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid rgba(181, 187, 187, 0.404);
}

.user-container {
  display: flex;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #dee2e6;
}

.image-container {
  width: 60px;
  height: 60px;
}

.image-container img {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

.user-info p {
  margin-bottom: 0;
  margin-left: 20px;
}

input {
  width: 40%;
  height: 50px;
  border-radius: 15px;
  outline: none;
  padding: 3px 3px 3px 20px;
  border-width: 1px;
}

#search-submit-button {
  width: 100px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgba(181, 187, 187, 0.404);
}

.remove-member:hover {
  cursor: pointer;
}
